<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>IDIET</title>
    <!-- Scrolls -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'idiet/style.css' %}">
    <script src="https://kit.fontawesome.com/43915e3dcb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="    https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>

    <!-- CONTENT -->
    <div id="contentindex">
        <!-- Topbar Navbar -->
        <main>
            <div class="i-container">
                <div>
                    <h1 href="#">idiet</h1>
                </div>
                <div>
                    <a href="login">login</a>
                    <a href="register">register</a>
                </div>
            </div>
        </main>
        <!-- FOOTER -->
        <footer class="sticky-footer">
            <div class="copyright text-center">
                <span>Copyright © FT & DBG</span>
            </div>
        </footer>
    </div>
    <!-- /CONTENT  -->

</body>

</html>